<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>My fitness data</title>
    <!-- Bokeh -->
 <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"></script>
 <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js"></script>
 <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js"></script>
{{ script | safe }}
  </head>
  <body>
    <div class="container-lg">
      <div class="row">
        <div class="col-9"><h1>Set small goals and let the vision happen</h1> </div>
        <div class="col-3">{% now "l\, F jS" %} </div>
      </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-9"> {{ div | safe }} </div>
        <div class="col-3"><h2>Snapshots</h2>
          <dl class="dl-horizontal"> 
          {% for key, value in stats.items %}
          <dt>{{ key }} </dt> 
          <dd> {{ value }} </dd>
               {% endfor %}
          </dl> 
        </div>
    </div>
</div>

Here's what the database looks like:
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Calories</th>
      <th scope="col">Carbohydrates</th>
      <th scope="col">Protein</th>
      <th scope="col">Fat</th>
      <th scope="col">Sugar</th>
      <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in days %}
    <tr>
      <th scope="row">{{ entry.date }}</th>
      <td>{{ entry.nutrient.calories }}</td>
      <td>{{ entry.nutrient.carbs }}</td>
      <td> {{ entry.nutrient.protein }}</td>
      <td>{{ entry.nutrient.fat}}</td>
      <td>{{ entry.nutrient.sugar }}</td>
      <td>{{ entry.cal_balance }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

  
Try <a href="/polls"> the polls app</a>.



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>